body {
  font: 80% arial, helvetica, sans-serif;
  margin: 10 auto;
}

#logo {
  margin: auto;
  vertical-align: top;
  border: 0;
}

.Problem {

	border:2px solid grey;
	display: block;
	margin: 20px auto 10px auto;
	width: 500px;
	border-radius:5px;

}

div {
	display:inline-block;
	padding: 10px;
}

p {
	text-align: justify;
}
